rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      match /users/{userId} {
        allow read: if true;
        allow write: if request.auth != null && request.auth.uid == userId && resource.data.invitation == request.resource.data.invitation && resource.data.invitationKey == request.resource.data.invitationKey;
        allow create: if request.auth != null && request.auth.uid == userId && request.resource.data.invitation == 3;
        allow update: if resource.data.name == request.resource.data.name && resource.data.image == request.resource.data.image && resource.data.invitationKey == request.resource.data.invitationKey  && resource.data.timestamp == request.resource.data.timestamp  && resource.data.invitation - 1 == request.resource.data.invitation;
      } match /invitations/{invId} {
        allow read: if true;
        allow create: if request.auth != null && request.auth.uid == request.resource.data.to;
        allow update: if false;
      }
    }
  }
}
